<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <div th:replace="/fragments/header :: header-css-and-meta"/>
    <style>
        .myButton {
            box-shadow: 0px 1px 0px 0px #f0f7fa;
            background: linear-gradient(to bottom, #138496 5%, #7bdbe8 100%);
            background-color: #138496;
            border-radius: 6px;
            border: 1px solid #057fd0;
            display: inline-block;
            cursor: pointer;
            color: #ffffff;
            font-family: Arial;
            font-size: 15px;
            font-weight: bold;
            padding: 6px 24px;
            text-decoration: none;
            text-shadow: 0px -1px 0px #5b6178;
        }

        .myButton:hover {
            background: linear-gradient(to bottom, #7bdbe8 5%, #138496 100%);
            background-color: #7bdbe8;
        }

        .myButton:active {
            position: relative;
            top: 1px;
        }

    </style>
</head>
<body>

<div class="container-fluid">
    <div class="row">
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3"></div>

        <div class="col-xl-6 col-sm-6 col-md-6 col-lg-6">
            <!-- Default form register -->
            <form class="text-center border border-light p-5" method="POST" th:action="@{/admin/create_new_question}">
                <p class="h4 mb-4">Create new question</p>
                <div class="form-row mb-4">
                    <label>Number of Question:</label>
                    <!-- Number of Question -->
                    <select name="NumofQues" class="form-control"></select>
                    <button class="myButton" type="button">Change</button>
                </div>
                <!--Question Create-->
                <input type="text" class="form-control mb-4" placeholder="Question">

                <!--Answer 1 -->
                <input type="text" class="form-control mb-4" placeholder="Question 1">
                <small>
                    <span>Errors!!!</span>
                </small>
                <!--Question 2-->
                <input type="text" class="form-control mb-4" placeholder="Question 2">
                <small class="form-text text-muted mb-4">
                    <span>Errors!!!</span>
                </small>
                <!--Question 3-->
                <input type="text" class="form-control mb-4" placeholder="Question 3">
                <small class="form-text text-muted mb-4">
                    <span>Errors!!!</span>
                </small>
                <!--Question 4-->
                <input type="text" class="form-control mb-4" placeholder="Question 4">
                <small class="form-text text-muted mb-4">
                    <span>Errors!!!</span>
                </small>
                <!--Correct Answer-->
                <label>Correct Answer:</label>
                <select name="correctAns" class="form-control mb-4"></select>


                <!--Category Create-->
                <label>Category:</label>
                <select name="categoryCreate" class="form-control mb-4"></select>


                <!-- Create Question button -->
                <button class="btn btn-info my-4 btn-block" type="submit">Create Question</button>
            </form>
            <form class="text-center border border-light p-5" method="POST" action="create_by_file"
                  enctype="multipart/form-data">
                <!-- Attach File Button -->
                <input id="file" name="file" type="file" class="form-control mb-4" accept=".xls,.xlsx"/>
                <button class="btn btn-info my-4 btn-block" type="submit">Create Question</button>
            </form>

            <!-- Create Question Table -->
            <table border="1" class="table">
                <thead>
                <tr>
                    <th>No.</th>
                    <th>Question</th>
                    <th>Answer</th>
                    <th>Correct</th>
                    <th>Subject</th>
                    <th>Status</th>
                    <th>Delete</th>
                    <th>Update</th>
                </tr>
                </thead>
                <tbody>
                <form action="updateRecord">
                    <tr>
                        <input type="hidden" name="txtID" value="${dto.ID}"/>
                        <td>
                            1
                            .
                        </td>
                        <td>
                            <textarea id="txtQuestion" name="txtQuestion" rows="5">ABCD</textarea>
                        </td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td>
                            <select name="subjectUpdate">
                                <option value="${dto.subject}"></option>
                            </select>
                        </td>
                        <td>
                            <select name="statusUpdate">
                            </select>
                        </td>
                        <td>
                            <a href="deleteRecord?txtID=${dto.ID}" onclick="deleteEvent(event)">Delete</a>
                            <script>
                                function deleteEvent(e) {
                                    if (!confirm('Are you sure to delete this Question?')) {
                                        e.preventDefault();
                                    }
                                }
                            </script>
                        </td>
                        <td>
                            <input type="submit" value="Update"/>
                        </td>
                    </tr>
                </form>
                </c:forEach>
                </tbody>
            </table>


            <button class="myButton" type="button">Previous</button>
            <button class="myButton" type="button">Next Page</button>


        </div>
        <div class="col-xl-3 col-sm-3 col-md-3 col-lg-3"></div>
    </div>


</div>
<div th:replace="/fragments/header :: all-js"></div>
</body>
</html>